---
import { NUMBER_OF_POSTS_PER_PAGE } from '../server-constants.ts'
import { getDatabase } from '../lib/notion/client.ts'
import {
  getPostsByTags,
  getRankedPosts,
  getAllTags,
  getNumberOfPagesByTags,
} from '../lib/notion/client.ts'
import Layout from '../layouts/Layout.astro'
import NoContents from '../components/NoContents.astro'
import PostDate from '../components/PostDate.astro'
import PostTags from '../components/PostTags.astro'
import PostTitle from '../components/PostTitle.astro'
import PostFeaturedImage from '../components/PostFeaturedImage.astro'
import PostExcerpt from '../components/PostExcerpt.astro'
import ReadMoreLink from '../components/ReadMoreLink.astro'
import Pagination from '../components/Pagination.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import styles from '../styles/blog.module.css'

const database = await getDatabase()
const { tag } = Astro.params

const workTagNames = ['参加', '楽曲投稿', '楽曲リリース'] // 使用したいタグ名を配列に追加

const [workPosts, workRankedPosts, workTags, workNumberOfPages] = await Promise.all([
  getPostsByTags(workTagNames, NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPagesByTags(workTagNames),
])

const blogTagNames = ['DTM', 'お知らせ', '小ネタ', '開発ログ'] // 使用したいタグ名を配列に追加

const [blogPosts, blogRankedPosts, blogTags, blogNumberOfPages] = await Promise.all([
  getPostsByTags(blogTagNames, NUMBER_OF_POSTS_PER_PAGE),
  getRankedPosts(),
  getAllTags(),
  getNumberOfPagesByTags(blogTagNames),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <header>
      <h2>直近の活動予定</h2>
      <div class="description">
        {database.Description}
      </div>
    </header>
    <h3><a class="req" href="/request/">ご依頼はこちらから</a></h3>
    <h1><a href="/works/">作品・出演</a></h1>
    <div class={styles.postContainer}>
      {
        workPosts.length === 0 ? (
          <NoContents contents={workPosts} />
        ) : (
          workPosts.map((post) => (
            <div class={styles.post} key={post.Slug}>
              <PostDate post={post} />
              <PostFeaturedImage post={post} />
              <PostTags post={post} />
              <PostTitle post={post} />
              <PostExcerpt post={post} />
            </div>
          ))
        )
      }
    </div>
    <h1><a href="blog">ブログ</a></h1>
    <div class={styles.postContainer}>
      {
        blogPosts.length === 0 ? (
          <NoContents contents={blogPosts} />
        ) : (
          blogPosts.map((post) => (
            <div class={styles.post} key={post.Slug}>
              <PostDate post={post} />
              <PostFeaturedImage post={post} />
              <PostTags post={post} />
              <PostTitle post={post} />
              <PostExcerpt post={post} />
            </div>
          ))
        )
      }
    </div>
  </div>

  <div slot="aside" class={styles.aside}>
    <BlogPostsLink heading="Recommended" posts={workRankedPosts} />
    <BlogTagsLink heading="Categories" tags={workTags} />
  </div>
</Layout>

<style>
  a.req {
    padding: 0 10px;
    color: #fff;
    background-image: linear-gradient(
      to right,
      #34bfff 50%,
      rgb(137, 190, 214) 50%
    );
    background-position: 0 0;
    background-size: 200% auto;
    transition: 0.3s;
  }

  a.req:hover {
    background-position: -100% 0;
    color: #fff;
  }

  .description {
    white-space: pre-line;
  }
</style>
